/* Importans and Variables */
:root {
    --dark-blue: rgba(4, 14, 37, 1);
    --trans-dark-blue: #040e2540;
    --main-blue: rgba(14, 44, 115, 1);
    --accent-blue: rgba(1, 92, 255, 1);
    --main-white: rgba(244, 249, 255, 1);
    --trans-main-white: rgba(244, 249, 255, 0.251);
    --main-font: "Mokoto", "sans-serif";
    --def-font: "Lato", sans-serif;
    --sup-font: "Share Tech Mono", "monospace";
}

@font-face {
    font-family: "Mokoto";
    src: url("../assets/mokoto.regular.ttf") format("truetype");
    src: url("../assets/mokoto-regular.otf") format("opentype");
}



/* Main Body Styling */
* {
    box-sizing: border-box;
}
body {
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: var(--dark-blue);
    font-family: var(--def-font);
    color: var(--main-white);
}
.loading-cursor {
    cursor: wait;
}



/* Navigation bar style */
.navigation-bar-content {
    position: fixed;
    width: 100vw;
    height: 80px;
    z-index: 10;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    font-family: var(--sup-font);
}
.nav-logo-content img{
    max-width: 120px;
    padding-left: 50px;
}
.menu-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: var(--trans-dark-blue);
    backdrop-filter: blur(8px);
    padding: 20px;
    border-radius: 25px;
}
.nav-item {
    text-decoration: none;
    font-size: 18px;
    color: var(--main-white);
    padding: 10px;
    transition: all 0.3s ease-in-out;
}
.active, .nav-item:hover {
    color: var(--accent-blue);
    font-size: 23px;
}
.nav-contact-container {
    text-align: right;
    padding-right: 50px;
}
.nav-contact-bt {
    background: radial-gradient(rgba(1, 92, 255, 0.05), rgba(1, 92, 255, 0.3));
    box-shadow: 0px -5px 20px var(--trans-main-white) inset;
    padding: 10px 20px;
    border: 1px solid rgba(1, 92, 255, 1);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    color: var(--main-white);
    font-size: 18px;
    font-family: var(--sup-font);
    cursor: pointer;
    text-decoration: none;
}
.nav-contact-bt:hover {
    background: radial-gradient(rgba(1, 92, 255, 0.18), rgba(1, 92, 255, 0.55));
}
/* mobile navigation style */
.mobile-nav-bar-content {
    display: none;
    position: fixed;
    width: 100vw;
    height: 80px;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: var(--trans-dark-blue);
    backdrop-filter: blur(0px);
}
.mobile-nav-logo {
    display: none;
}
.mobile-nav-logo img {
    max-width: 120px;
    padding-left: 20px;
}
.mobile-burger-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.mobile-burger-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: var(--main-white);
    margin: 4px 0;
    transition: 0.4s;
}
.mobile-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: var(--dark-blue);
    backdrop-filter: blur(8px);
    padding: 20px;
}
.mobile-menu.open {
    display: flex;
}
.mobile-menu .menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: var(--dark-blue); */
    list-style: none;
    padding: 0;
}
.mobile-menu .nav-item {
    color: var(--main-white);
    font-size: 20px;
    padding: 10px 0;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.mobile-menu .nav-item:hover {
    color: var(--accent-blue);
}
/* Media Query for Mobile */
@media (max-width: 480px) {
    .navigation-bar-content {
        display: none;
    }
    .mobile-nav-bar-content {
        display: flex;
        backdrop-filter: blur(8px);
        z-index: 10;
    }
    .mobile-burger-toggle {
        display: flex;
    }
    .mobile-nav-logo {
        display: block;
    }
}



/* particles */
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
}



/* Landing Style */
.landing-section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ls-text-container {
    margin: 7vh 20vw 0 20vw;
}
/* .ls-intro-title {
    font-size: 1vw;
    margin: 20px 0 20px 0;
} */
.ls-page-title {
    font-size: 5vw;
    font-family: var(--main-font);
    margin: 0;
    line-height: 100px;
}
.ls-page-par {
    font-size: 1.4vw;
    margin: 20px 0 0 0;
}
/* landing media changes */
@media screen and (max-width: 1024px) {
    .ls-text-container {
        margin: 7vh 10vw 0 10vw;
    }
    .ls-page-title {
        font-size: 10vw;
        margin: 0;
        line-height: 110px;
    }
    .ls-page-par {
        font-size: 5vw;
        margin: 20px 0 0 0;
    }
}
@media screen and (max-width: 480px) {
    .ls-text-container {
        margin: 7vh 7vw 0 7vw;
    }
    .ls-page-title {
        font-size: 11vw;
        margin: 0;
        line-height: 45px;
    }
    .ls-page-par {
        font-size: 5vw;
        margin: 20px 0 0 0;
    }
}



/* About Us Style */
.highlight-section {
    position: relative;
    height: 120vh;
    display: flex;
    gap: 5vw;
    padding: 50px;
}
/* .aus-title {
    font-family: var(--sup-font);
    margin: 5px 0 0 1vw;
} */
.highlight-paragraph {
    margin: -10px 20vw 0 5vw;
}
.highlight-paragraph span {
    font-size: 5vw;
    color: var(--main-blue); /* Initial greyed-out color */
    transition: color 0.3s ease; /* Smooth color transition */
    padding: 5px;
}
.highlight-paragraph .highlighted {
    color: var(--main-white); /* Final color when highlighted */
}
/* About Us media changes */
@media screen and (max-width: 1024px) {}
@media screen and (max-width: 480px) {
    .highlight-section {
        height: 100vh;
    }
    .aus-title {
        margin: 0 0 0 -3vw;
    }
    .highlight-paragraph {
        margin: -5px 0 0 0;
    }
    .highlight-paragraph span {
        font-size: 7vw;
    }
}



/* combined-about style */
.combined-about-section {
    height: 100vh;
    width: 100%;
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.cfo-reporting-part, .advisory-about-part {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10vw;
    gap: 50px;
}
.first-block {
    margin-left: 200px;
}
.second-block {
    margin-right: 200px;
}
.crs-title {
    font-size: 2vw;
    font-family: var(--main-font);
    line-height: 60px;
    margin: 0 0 0 0;
}
.crs-par {
    width: 100%;
}
@media screen and (max-width: 1024px) {}
@media screen and (max-width: 480px) {
    .combined-about-section {
        height: 220vh;
        text-align: center;
        gap: 100px;
    }
    .crs-img-container img {
        width: 100vw;
    }
    .cfo-reporting-part, .advisory-about-part {
        flex-direction: column;
    }
    .crs-text-container {
        padding: 0 20px;
    }
    .crs-title {
        font-size: 7vw;
        line-height: 30px;
    }
}




/* CFO Reporting Style */
/* .cfo-reporting-section {
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dark-blue);
    overflow: hidden;
}
.crs-img-container {
    position: relative;
}
.crs-img-container img {
    height: 700px;
    width: 500px;
    margin: 50vh 0 0 15vw;
    object-fit: cover;
    transition: transform 0.1s ease-in-out;
}
.crs-text-container {
    margin: 0 5vw;
}
.crs-title {
    font-size: 2vw;
    font-family: var(--main-font);
    line-height: 60px;
    margin: 0 0 0 0;
}
.crs-par {
    font-size: 1.2vw;
    line-height: 1.3em;
} */
/* CFO Reporting media changes */
/* @media screen and (max-width: 1024px) {}
@media screen and (max-width: 480px) {
    .cfo-reporting-section {
        height: 120vh;
        flex-direction: column;
    }
    .crs-img-container img {
        height: 200px;
        width: 500px;
        margin: 0;
    }
    .crs-title {
        font-size: 7vw;
        line-height: 30px;
    }
    .crs-par {
        font-size: 4vw;
        line-height: 1.3em;
    }
} */



/* Advisory About Style */
.advisory-about-section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-blue);
    box-shadow: 0px 20px 60px rgb(0, 0, 0, 0.5) inset, 0px -20px 60px rgb(0, 0, 0, 0.5) inset;
}
.aas-text-container {
    text-align: center;
    margin: 0 10vw;
}
.aas-title {
    font-family: var(--main-font);
    line-height: 60px;
    font-size: 2vw;
    margin: 0;
}
.aas-par {
    font-size: 1.2vw;
    line-height: 1.2em;
    margin: 0 10vw;
}
/* Advisory media changes */
@media screen and (max-width: 1024px) {}
@media screen and (max-width: 480px) {
    .advisory-about-section {
        height: 120vh;
    }
    .aas-text-container {
        text-align: center;
        margin: 0 5vw;
    }
    .aas-title {
        line-height: 30px;
        font-size: 7vw;
    }
    .aas-par {
        font-size: 4vw;
        line-height: 1.3em;
    }
}



/* Meet the team Style */
.lead-team-section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--dark-blue);
}
.lts-text-container {
    text-align: center;
    margin: 0 5vw;
}
.lts-title {
    font-family: var(--main-font);
    line-height: 60px;
    font-size: 2vw;
    margin: 0;
}
.lts-par {
    font-size: 1.2vw;
    line-height: 1.2em;
    margin: 10px 15vw 0 15vw;
}
.lts-img-container {
    display: flex;
    gap: 7vw;
    margin: 50px 0 0 0;
}
.lts-member-card {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 300px;
    text-align: center;
    color: var(--main-white);
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    padding: 20px;
    border-radius: 25px;
    /* box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.5) inset, 0px -10px 10px rgb(0, 0, 0, 0.5) inset; */
}
.profile-img {
    width: 200px;
    margin: 0 0 20px 0;
}
.lts-img-title {
    font-size: 1.1vw;
    margin: 0;
}
.lts-img-par {
    font-size: 0.8vw;
    color: var(--accent-blue);
    font-family: var(--main-font);
    margin: 0;
}
.lts-img-bio {
    line-height: 1.3em;
    margin: 20px 0 0 0;
}
.lts-member-card:hover {
    scale: 1.05;
    /* animation: shadowmove 1s linear; */
    box-shadow: 0px 5px 30px var(--accent-blue), 0px 5px 30px var(--accent-blue)
}
/* @keyframes shadowmove {
    100% {
        scale: 1.05;
        box-shadow: 0px 5px 30px var(--accent-blue), 0px 5px 30px var(--accent-blue)
    }
} */
/* Lead Team media changes */
@media screen and (max-width: 1024px) {}
@media screen and (max-width: 480px) {
    .lead-team-section {
        height: 300vh;
    }
    .lts-text-container {
        margin: 0 5vw;
    }
    .lts-title {
        line-height: 30px;
        font-size: 7vw;
    }
    .lts-par {
        font-size: 4vw;
        line-height: 1.3em;
    }
    .lts-img-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 7vw;
        margin: 0;
    }
    .greg-card {
        grid-row: 1;
    }
    .frank-card {
        grid-row: 2;
    }
    .sol-card {
        grid-row: 3;
    }
    .lts-img-title {
        font-size: 7vw;
        margin: 0;
    }
    .lts-img-par {
        font-size: 4vw;
    }
}



/* Contact Us Style */
.contact-us-section {
    height: 100vh;
    width: 100%;
    background: linear-gradient(var(--dark-blue), var(--main-blue));
}
.cus-form-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.contact-left-title h2 {
    font-size: 2vw;
    font-family: var(--sup-font);
    /* color: var(--accent-blue); */
    margin-bottom: 5px;
    text-align: center;
}
.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: var(--accent-blue);
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    border-radius: 10px;
    font-family: var(--def-font);
}
.contact-left textarea {
    height: 140px;
    padding-top: 15px;
}
.contact-inputs:focus {
    border: 2px solid var(--accent-blue);
}
.contact-inputs {
    color: rgb(169, 169, 169);
}
.contact-left button {
    display: flex;
    align-items: center;
    padding: 5px 30px;
    font-size: 16px;
    color: var(--main-white);
    gap: 10px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(-47deg, var(--accent-blue), var(--main-blue), var(--accent-blue), var(--main-blue));
    background-size: 400% 400%;
    cursor: pointer;
    transition: all 0.5s ease;
}
.contact-left button:hover {
    scale: 1.1;
    animation: movingGradient 15s ease infinite;
}
@keyframes movingGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.contact-left button img {
    height: 55px;
}
.contact-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.opsf-footer-logo {
    width: 500px;
    margin: 0 0 25px 0;
}
.social-link-par {
    font-size: 2vw;
    margin: 0 0 25px 0;
    color: var(--accent-blue);
}
/* .social-links-container {

} */
.social-link-img img {
    width: 50px;
    margin: 0 1vw;
    transition: all 0.5s ease-in-out;
}
.social-link-img img:hover {
    scale: 1.2;
}
/* Contact Form media changes */
@media screen and (max-width: 1024px) {}
@media screen and (max-width: 480px) {
    .contact-us-section {
        height: 150vh;
    }
    .cus-form-container {
        flex-direction: column;
    }
    .contact-left {
        align-items: center;
    }
    .contact-left-title h2 {
        font-size: 40px;
    }
    .contact-inputs {
        width: 300px;
    }
    .opsf-footer-logo {
        width: 200px;
    }
    .social-link-par {
        font-size: 4vw;
    }
}