/* Importans and Variables */
:root {
    --dark-blue: rgba(4, 14, 37, 1);
    --trans-dark-blue: rgba(4, 14, 37, 0.25);
    --main-blue: rgba(14, 44, 115, 1);
    --accent-blue: rgba(1, 92, 255, 1);
    --main-white: rgba(244, 249, 255, 1);
    --trans-main-white: rgba(244, 249, 255, 0.25);
    --main-font: "Mokoto", "sans-serif";
    --def-font: "Lato", sans-serif;
    --sup-font: "Share Tech Mono", "monospace";
}

@font-face {
    font-family: "Mokoto";
    src: url("../assets/mokoto.regular.ttf") format("truetype");
    src: url("../assets/mokoto-regular.otf") format("opentype");
}



/* Main Body Styling */
body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-blue);
    font-family: var(--def-font);
    color: var(--main-white);
    overflow-x: hidden;
}
.loading-cursor {
    cursor: wait;
}



/* Navigation bar style */
.navigation-bar-content {
    position: fixed;
    width: 100vw;
    height: 80px;
    z-index: 5;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    font-family: var(--sup-font);
}
.nav-logo-content img{
    max-width: 120px;
    padding-left: 50px;
}
.menu-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: var(--trans-dark-blue);
    backdrop-filter: blur(8px);
    padding: 20px;
    border-radius: 25px;
}
.nav-item {
    text-decoration: none;
    font-size: 20px;
    color: var(--main-white);
    padding: 10px;
    transition: all 0.3s ease-in-out;
}
.active, .nav-item:hover {
    color: var(--accent-blue);
    font-size: 23px;
}
.nav-contact-container {
    text-align: right;
    padding-right: 50px;
}
.nav-contact-bt {
    background: radial-gradient(rgba(1, 92, 255, 0.5), rgba(1, 92, 255, 0.8));
    box-shadow: 0px -5px 20px var(--trans-main-white) inset;
    padding: 10px 20px;
    border: 1px solid rgba(1, 92, 255, 1);
    border-radius: 8px;
    color: var(--main-white);
    font-size: 24px;
    font-family: var(--sup-font);
    cursor: pointer;
    text-decoration: none;
}
.nav-contact-bt:hover {
    background: radial-gradient(rgba(1, 92, 255, 0.18), rgba(1, 92, 255, 0.55));
}




/* main body content styling */
.main-body-content {
    height: 100vh;
    width: 100vw;
    padding: 0;
    background-color: var(--dark-blue);
}



/* particles */
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 0;
}



/* landing section styling */
.landing-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    pointer-events: none;
    z-index: 1;
}
.company-title {
    font-size: 10vw;
    font-family: var(--main-font);
    margin: -1vw 0 0 0;
}
.company-tagline {
    font-size: 3vw;
    font-family: var(--sup-font);
    margin: -5vw 0 5vw 0;
}



/* Opsfi suite style */
.opsfi-suit-section {
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    pointer-events: none;
}
.oss-title-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 1;
}
.oss-title {
    font-family: var(--sup-font);
    font-size: 3vw;
    margin: 0 0 10px 0;
}
.oss-tagline {
    font-size: 1.5vw;
    margin: 0 0 50px 0;
}
.oss-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    gap: 50px;
    margin: 0 20vw;
    pointer-events: visible;
}
.suit-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row: span 3;
    height: 200px;
    background-image: linear-gradient(to top, var(--trans-main-white), var(--trans-dark-blue)), linear-gradient(180deg, rgba(1, 92, 255, 0.05), rgba(1, 92, 255, 0.3));
    box-shadow: 0px -10px 20px rgba(244, 249, 255, 0) inset;
    border: 1px solid var(--main-blue);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    padding: 20px;
    text-decoration: none;
    color: var(--main-white);
    transition: scale 1s ease;
}
.suit-card-title {
    font-size: 2rem;
    margin: 0;
}
.suit-card-par {
    font-size: 1.2rem;
}
.sc1 {
    grid-column-start: 2;
}
.sc3 {
    background-image: linear-gradient(to top, rgba(1, 195, 141, 0.8), rgba(1, 195, 141, 0));
    border: 1px solid rgba(1, 195, 141, 1);
}
.sc1:hover, .sc2:hover {
    background-image: linear-gradient(to top, var(--trans-main-white), var(--trans-dark-blue)), linear-gradient(180deg, rgba(1, 92, 255, 0.15), rgba(1, 92, 255, 0.5));
    box-shadow: 0px -10px 30px rgba(244, 249, 255, 0.25) inset;
    scale: 1.1;
}
.sc3:hover {
    background-image: linear-gradient(to top, rgba(1, 195, 141, 1), rgba(1, 195, 141, 0.3));
    box-shadow: 0px -10px 30px rgba(244, 249, 255, 0.25) inset;
    scale: 1.1;
}



/* Our Mission Style */
.our-mission-section {
    height: 100vh;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: var(--dark-blue);
    box-shadow: 0px 10px 20px black inset, 0px -10px 20px black inset;
}
.oms-content-container {
    display: flex;
    align-items: center;
}
.oms-text-container {
    margin: 0 0 0 10vw;
}
.oms-title {
    font-size: 3vw;
    font-family: var(--sup-font);
    margin: 0 5vw 0 0;
    line-height: 60px;
}
.oms-tagline {
    font-size: 1.5vw;
    margin: 0;
    padding: 15px 0;
    width: 60%;
}
.mission-text {
    width: 80%;
    padding: 0 0 5px 20px;
}
.mission-title {
    font-weight: 500;
    padding: 5px 0 0 0;
}
.mission-par {
    padding: 0 0 0 10px;
    width: 60%;
}
.left-vert-carousel-container {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    height: 100vh;
    margin: 0 1vw;
}
.left-vert-carousel-container::before,
.left-vert-carousel-container::after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
    pointer-events: none;
}
.left-carousel {
    display: inline-block;
    animation: bot-to-top 15s infinite linear;
}
.vert-carousel-card {
    height: 100px;
    width: 300px;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    border: 1px solid var(--main-white);
    box-shadow: 0px 10px 70px var(--main-white) inset, 0px -10px 70px var(--main-white) inset;
    border-radius: 20px;
    color: var(--dark-blue);
    margin-bottom: 50px;
}
.vert-carousel-card h6 {
    font-size: 17px;
}
.vert-card-img {
    width: 50px;
    margin: 0 15px 0 35px;
}
@keyframes bot-to-top {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-50%);
    }
}
.right-vert-carousel-container {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    height: 100vh;
    margin: 0 1vw;
}
.right-vert-carousel-container::before,
.right-vert-carousel-container::after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
    pointer-events: none;
}
.right-carousel {
    display: inline-block;
    animation: top-to-bot 15s infinite linear;
}
@keyframes top-to-bot {
    from {
        transform:  translateY(-50%);
    }
    to {
        transform: translateY(0)
    }
}



/* Opsfi Ecosystem style */
.opsfi-ecosystem-section {
    height: 150vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    overflow: hidden;
}
.oes-text-container {
    text-align: center;
    z-index: 2;
}
.oes-title {
    font-family: var(--sup-font);
    font-size: 3vw;
}
.oes-tagline {
    font-size: 1.5vw;
}
.oes-bt-about {
    background: radial-gradient(rgba(1, 92, 255, 0.7), rgba(1, 92, 255, 0.9));
    padding: 10px 20px;
    border: 1px solid rgba(1, 92, 255, 1);
    border-radius: 8px;
    color: var(--main-white);
    font-size: 18px;
    font-family: var(--sup-font);
    cursor: pointer;
    text-decoration: none;
}
.oes-bt-about:hover {
    background: radial-gradient(rgba(1, 92, 255, 0.18), rgba(1, 92, 255, 0.55));
}
.spiral-container {
    position: absolute;
    z-index: 1;
}
.spiral-section1, .spiral-section2, .spiral-section3 {
    position: absolute;
    top: 0;
    left: -65px;
}
/* spiral 1 */
.spiral-section1 {
    animation: moveCircle 55s infinite linear;
    width: 130px;
    height: 130px;
}
@keyframes moveCircle {
    0% {
        transform: rotate(0deg) translateZ(0px);
    }
    100% {
        transform: rotate(360deg) translateZ(0px);
    }
}
.rotating-item1, .rotating-item2, .rotating-item3 {
    position: absolute;
    background: radial-gradient(rgba(1, 92, 255, 0.05), rgba(1, 92, 255, 0.5));
    backdrop-filter: blur(8px);
    border: 4px solid var(--main-blue);
    height: 130px;
    width: 130px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-img1 {
    transform: translate(400px);
}
.logo-img2 {
    transform: rotate(40deg) translate(400px) rotate(-40deg);
}
.logo-img3 {
    transform: rotate(80deg) translate(400px) rotate(-80deg);
}
.logo-img4 {
    transform: rotate(120deg) translate(400px) rotate(-120deg);
}
.logo-img5 {
    transform: rotate(160deg) translate(400px) rotate(-160deg);
}
.logo-img6 {
    transform: rotate(200deg) translate(400px) rotate(-200deg);
}
.logo-img7 {
    transform: rotate(240deg) translate(400px) rotate(-240deg);
}
.logo-img8 {
    transform: rotate(280deg) translate(400px) rotate(-280deg);
}
.logo-img9 {
    transform: rotate(320deg) translate(400px) rotate(-320deg);
}
.rotating-item1 img {
    width: 100px;
    animation: counterRotate 55s infinite linear;
}
@keyframes counterRotate {
    0% {
        transform: rotate(360deg);
    }
}
/* spiral 2 */
.spiral-section2 {
    animation: moveCircle 75s infinite linear;
    width: 130px;
    height: 130px;
}
.rotating-item2 img {
    width: 100px;
    animation: counterRotate 75s infinite linear;
}
.logo-img10 {
    transform: translate(550px);
}
.logo-img11 {
    transform: rotate(32deg) translate(550px) rotate(-32deg);
}
.logo-img12 {
    transform: rotate(64deg) translate(550px) rotate(-64deg);
}
.logo-img13 {
    transform: rotate(96deg) translate(550px) rotate(-96deg);
}
.logo-img14 {
    transform: rotate(128deg) translate(550px) rotate(-128deg);
}
.logo-img15 {
    transform: rotate(160deg) translate(550px) rotate(-160deg);
}
.logo-img16 {
    transform: rotate(192deg) translate(550px) rotate(-192deg);
}
.logo-img17 {
    transform: rotate(224deg) translate(550px) rotate(-224deg);
}
.logo-img18 {
    transform: rotate(256deg) translate(550px) rotate(-256deg);
}
.logo-img19 {
    transform: rotate(288deg) translate(550px) rotate(-288deg);
}
.logo-img20 {
    transform: rotate(320deg) translate(550px) rotate(-320deg);
}
/* spiral 3 */
.spiral-section3 {
    animation: moveCircle 95s infinite linear;
    width: 130px;
    height: 130px;
}
.rotating-item3 img {
    width: 100px;
    animation: counterRotate 95s infinite linear;
}
.logo-img21 {
    transform: translate(700px);
}
.logo-img22 {
    transform: rotate(21deg) translate(700px) rotate(-21deg);
}
.logo-img23 {
    transform: rotate(42deg) translate(700px) rotate(-42deg);
}
.logo-img24 {
    transform: rotate(63deg) translate(700px) rotate(-63deg);
}
.logo-img25 {
    transform: rotate(84deg) translate(700px) rotate(-84deg);
}
.logo-img26 {
    transform: rotate(105deg) translate(700px) rotate(-105deg);
}
.logo-img27 {
    transform: rotate(126deg) translate(700px) rotate(-126deg);
}
.logo-img28 {
    transform: rotate(147deg) translate(700px) rotate(-147deg);
}
.logo-img29 {
    transform: rotate(168deg) translate(700px) rotate(-168deg);
}
.logo-img30 {
    transform: rotate(189deg) translate(700px) rotate(-189deg);
}
.logo-img31 {
    transform: rotate(210deg) translate(700px) rotate(-210deg);
}
.logo-img32 {
    transform: rotate(231deg) translate(700px) rotate(-231deg);
}
.logo-img33 {
    transform: rotate(252deg) translate(700px) rotate(-252deg);
}
.logo-img34 {
    transform: rotate(273deg) translate(700px) rotate(-273deg);
}
.logo-img35 {
    transform: rotate(294deg) translate(700px) rotate(-294deg);
}
.logo-img36 {
    transform: rotate(315deg) translate(700px) rotate(-315deg);
}
.logo-img37 {
    transform: rotate(336deg) translate(700px) rotate(-336deg);
}



/* Contact Us Style */
.contact-us-section {
    height: 100vh;
    width: 100%;
    background: linear-gradient(var(--dark-blue), var(--main-blue));
}
.cus-form-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title h2 {
    font-size: 40px;
    color: var(--accent-blue);
    margin-bottom: 5px;
}
.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: var(--accent-blue);
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    border-radius: 25px;
}
.contact-left textarea {
    height: 140px;
    padding-top: 15px;
}
.contact-inputs:focus {
    border: 2px solid var(--accent-blue);
}
.contact-inputs {
    color: rgb(169, 169, 169);
}
.contact-left button {
    display: flex;
    align-items: center;
    padding: 5px 30px;
    font-size: 16px;
    color: var(--main-white);
    gap: 10px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(-47deg, var(--accent-blue), var(--main-blue), var(--accent-blue), var(--main-blue));
    background-size: 400% 400%;
    cursor: pointer;
    transition: all 0.5s ease;
}
.contact-left button:hover {
    scale: 1.1;
    animation: movingGradient 15s ease infinite;
}
@keyframes movingGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.contact-left button img {
    height: 55px;
}
.contact-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.opsfi-logo {
    width: 500px;
    margin: 0 0 25px 0;
}
.social-link-par {
    font-size: 2vw;
    margin: 0 0 25px 0;
    color: var(--accent-blue);
}
/* .social-links-container {

} */
.social-link-img img {
    width: 50px;
    margin: 0 1vw;
    transition: all 0.5s ease-in-out;
}
.social-link-img img:hover {
    scale: 1.2;
}