/* Importans and Variables */
:root {
    --dark-blue: rgba(4, 14, 37, 1);
    --trans-dark-blue: rgba(4, 14, 37, 0.25);
    --main-blue: rgba(14, 44, 115, 1);
    --accent-blue: rgba(1, 92, 255, 1);
    --main-white: rgba(244, 249, 255, 1);
    --trans-main-white: rgba(244, 249, 255, 0.25);
    --main-font: "Mokoto", "sans-serif";
    --def-font: "Lato", sans-serif;
    --sup-font: "Share Tech Mono", "monospace";
}

@font-face {
    font-family: "Mokoto";
    src: url("../assets/mokoto.regular.ttf") format("truetype");
    src: url("../assets/mokoto-regular.otf") format("opentype");
}



/* Main Body Styling */
body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-blue);
}



/* main body content styling */
.main-body-content {
    height: 100vh;
    width: 100vw;
    padding: 0;
    font-family: var(--def-font);
    color: var(--main-white);
    background-color: var(--dark-blue);
}



/* particles */
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 0;
}



/* landing section styling */
.landing-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    pointer-events: none;
    z-index: 1;
}
.company-title {
    font-size: 10vw;
    font-family: var(--main-font);
}
.company-tagline {
    font-size: 3vw;
    margin: -50px 0 0 0;
    font-family: var(--sup-font);
}



/* Our Mission Style */
.our-mission-section {
    height: 100vh;
    width: 100%;
    pointer-events: none;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.background-sphere {
    position: absolute;
}
.oms-title-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 1;
}
.oms-title {
    font-family: var(--sup-font);
    font-size: 3vw;
    margin: 0 0 10px 0;
}
.oms-tagline {
    font-size: 1.5vw;
    margin: 0 0 100px 0;
}
.mission-vision-container {
    display: flex;
    justify-content: center;
    gap: 20vw;
}
.mission-text {
    background-image: linear-gradient(to top, var(--trans-main-white), var(--trans-dark-blue));
    border: 1px solid var(--main-white);
    border-radius: 50px;
    padding: 50px;
    width: 10vw;
    z-index: 1;
    text-align: center;
}
.mission-title {
    font-size: 1.5vw;
    margin: 0 0 10px 0;
}
.mission-par {
    margin: 0;
}
.vision-text {
    background-image: linear-gradient(to top, var(--trans-main-white), var(--trans-dark-blue));
    border: 1px solid var(--main-white);
    border-radius: 50px;
    padding: 50px;
    width: 10vw;
    z-index: 1;
    text-align: center;
}
.vision-title {
    font-size: 1.5vw;
    margin: 0 0 10px 0;
}
.vision-par {
    margin: 0;
}