/* Importans and Variables */
:root {
    --dark-blue: rgba(4, 14, 37, 1);
    --trans-dark-blue: #040e2540;
    --main-blue: rgba(14, 44, 115, 1);
    --accent-blue: rgba(1, 92, 255, 1);
    --main-white: rgba(244, 249, 255, 1);
    --trans-main-white: rgba(244, 249, 255, 0.251);
    --main-font: "Mokoto", "sans-serif";
    --def-font: "Lato", sans-serif;
    --sup-font: "Share Tech Mono", "monospace";
}

@font-face {
    font-family: "Mokoto";
    src: url("../assets/mokoto.regular.ttf") format("truetype");
    src: url("../assets/mokoto-regular.otf") format("opentype");
}



/* Main Body Styling */
body {
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: var(--dark-blue);
    font-family: var(--def-font);
    color: var(--main-white);
}
.loading-cursor {
    cursor: wait;
}



/* Navigation bar style */
.navigation-bar-content {
    position: fixed;
    width: 100vw;
    height: 80px;
    z-index: 5;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    font-family: var(--sup-font);
}
.nav-logo-content img{
    max-width: 120px;
    padding-left: 50px;
}
.menu-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: var(--trans-dark-blue);
    backdrop-filter: blur(8px);
    padding: 20px;
    border-radius: 25px;
}
.nav-item {
    text-decoration: none;
    font-size: 18px;
    color: var(--main-white);
    padding: 10px;
    transition: all 0.3s ease-in-out;
}
.highlight, .nav-item:hover {
    color: var(--accent-blue);
    font-size: 23px;
}
.nav-contact-container {
    text-align: right;
    padding-right: 50px;
}
.nav-contact-bt {
    background: radial-gradient(rgba(1, 92, 255, 0.05), rgba(1, 92, 255, 0.3));
    box-shadow: 0px -5px 20px var(--trans-main-white) inset;
    padding: 10px 20px;
    border: 1px solid rgba(1, 92, 255, 1);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    color: var(--main-white);
    font-size: 18px;
    font-family: var(--sup-font);
    cursor: pointer;
    text-decoration: none;
}
.nav-contact-bt:hover {
    background: radial-gradient(rgba(1, 92, 255, 0.18), rgba(1, 92, 255, 0.55));
}



/* particles */
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
}



/* landing style */
.landing-section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    pointer-events: none;
}
.page-title {
    font-size: 10vw;
    font-family: var(--main-font);
    margin: 0;
}
.page-title-sub {
    font-size: 5vw;
    font-family: var(--main-font);
    margin: -150px 0 0 0;
}
.page-tagline {
    font-size: 3vw;
    font-family: var(--sup-font);
    margin: 0;
}



/* our focus style */
.our-focus-section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
}
.ofs-content-container {
    width: 100%;
    height: 90vh;
    background: var(--dark-blue);
    border-radius: 12px;
    padding: 60px 40px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}
.ofs-text-container {
    text-align: center;
}
.ofs-title {
    font-size: 3vw;
    font-family: var(--sup-font);
    color: var(--main-white);
}
.ofs-par {
    font-size: 1.2rem;
    line-height: 1.5;
    color: lightgray;
    margin: 0 auto;
    max-width: 1000px;
}
.ofs-card-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 64px;
}
.slide-show-img {
    width: auto;
    height: 420px;
    display: none;
    margin: 0 0 50px 15vw;
    border-radius: 25px;
}
.ofs-text-container {
    text-align: center;
}
.ofs-title {
    font-size: 3vw;
    font-family: var(--sup-font);
    margin: 0;
}
.ofs-text-area {
    margin: 0 auto;
}
.text-item {
    margin-bottom: 20px;
    cursor: pointer;
    color: rgb(183, 183, 183);
    transition: opacity 0.3s ease, color 0.3s ease;
}
.text-item.active {
    color: var(--main-white);
}
.ofs-section-title {
    font-size: 1.5rem;
    padding: 0 0 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 80%;
}
.ofs-section-par {
    max-height: 0;
    width: 80%;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    padding: 0;
    margin: 0 0 80px 0;
    color: var(--main-white);
}
.text-item.active .ofs-section-par {
    max-height: 100px;
    opacity: 1;
}



/* Suite Services Style */
.suite-services-section {
    height: 241vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 2vw 0;
}
.sss-title, .sss-tagline {
    text-align: center;
}
.sss-title {
    font-size: 3vw;
    position: sticky;
    top: 7vw;
    margin: 50px 0 0 0;
}
.sss-tagline {
    font-size: 2vw;
    position: sticky;
    top: 11vw;
    color: gray;
    margin: 5px 0 50px 0;
}
.stacking-cards-container {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10vw;
    width: 100%;
    align-items: center;
}
.stacking-card {
    position: sticky;
    top: 15vw;
    width: 80vw;
    max-width: 1400px; /* Limits card size for viewport compatibility */
}
.card-content {
    background: var(--dark-blue);
    color: var(--navy_color);
    border-radius: 1rem;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    display: flex;
    overflow: hidden;
}
.card-text {
    padding: 2vw;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8vw;
}
.card-title {
    font-size: 2vw;
    color: var(--accent-blue);
    margin: 0;
}
.card-text p {
    font-size: 1.1vw;
}
.card-indicator {
    font-size: 0.6vw;
    margin-top: auto;
    color: gray;
    font-family: var(--main-font);
}
.card-content figure {
    width: 50%;
    margin: 0;
    overflow: hidden;
}
.card-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}



/* Contact footer style */
.contact-us-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(transparent, var(--main-blue));
}
.text-footer-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact-content h3 {
    font-size: 3vw;
}
.contact-content button {
    border: 2px solid var(--main-blue);
    border-radius: 25px;
    background: transparent;
    box-shadow: 0px 40px 70px var(--accent-blue) inset, 0px -40px 70px var(--accent-blue) inset;
    color: var(--main-white);
    padding: 50px;
    font-size: 2vw;
    transition: all 0.2s ease;
}
.contact-content button:hover {
    scale: 1.2;
    cursor: pointer;
}
.social-footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 0 15vw;
}
.social-footer-content img {
    width: 290px;
}
.social-links-container {
    display: flex;
    gap: 3vw;
}
.social-link-par {
    font-size: 1.4vw;
    margin: 35px 0;
}
.social-link-img img {
    width: 60px;
    transition: all 0.5s ease;
}
.social-link-img img:hover {
    scale: 1.1;
}
.footer-content {
    display: flex;
    align-items: center;
    gap: 5vw;
}